.nav-container
  = link_to('my work', about_path)
  = link_to("home", root_path, id: 'home')

.container
  .sidebar
    %h1.title.left about me
  .main
    %i image
  .main
    %p.paragraph.right
      I'm Rosie and I love programming.  Being a web developer gives me a sense of purpose and pride.  I love solving problems and creating new things.  Other than programming, some of my interests include coffee, music, television, and sewing.
%hr/

.container
  .main
    %p.paragraph.left
      I worked at my family's fabric store while attending college and developed a love for sewing and beautiful design.  I now work at Exposure Tracker as a wev dev intern and at Devpoint Labs as a TA.
    %h3
      = link_to 'DevPoint Labs', "http://www.devpointlabs.com/", target: '_blank'
    %h3
      = link_to 'Exposure Tracker', "https://www.exposuretrackerapp.com/", target: '_blank'
  .sidebar
    %h1.title.right work
%hr/

.container
  .sidebar
    %h1.title.left education
  .main
    %p.paragraph.right
      I attended Utah State University where I studied math.  Upon graduating, I decided to take my interest in programming seriously, so I attended Devpoint Labs in the summer of 2015.  I've been programming and learning ever since.
%hr/

.container
  .main
    %p.paragraph.left
      At DevPoint Labs, I learned Ruby, Rails, SQL, Javascript, Jquery, AJAX, HTML & CSS, multiple CSS frameworks, Git, and other related tools.  Outside of class, I'm currently obsessed with utilizing flexbox CSS in my personal projects and learning React.
  .sidebar
    %h1.title.right skills
%hr/



.container
  .sidebar
    %h1.title.left what i do
  .main
    %p.paragraph.right  
      I'm a full-stack web developer currently working at Exposure Tracker and Devpoint Labs.  I love programming, learning every day, and teaching others to do the same.

%hr/

.container
  .main
    %p.paragraph.left
      Being a TA at Devpoint Labs, I'm always brushing up on my basice Ruby, Rails, and Javascript skills.  Outside of class, I'm currently obsessed with utilizing flexbox CSS in my personal projects and learning React.
  .sidebar
    %h1.title.right what i'm learning
%hr/

.container
  .sidebar
    %h1.title.left what i've done
  .main
    %p.paragraph.right
      My first project was for my first hackathon as a student at Devpoint Labs.  This project was built with only a knowledge of basic ruby, rails, and git flow.  My biggest project while at Devpoint Labs was my group capstone, SLCfit.  Check out the site at slcfit.com and on github.  I am currently working on a personal project -- a web store for my family's brick and mortar fabric store.  Keep up with my progress on github.
%hr/

.container
  .main
    %ul
      %li.left
        = link_to "Instagram", "https://www.instagram.com/sleepingarmy", target: '_blank'
      %li.left
        = link_to "Linkedin", "https://www.linkedin.com/in/rosiethom", target: '_blank'
      %li.left
        = link_to "Github", "https://github.com/sleepingarmy", target: '_blank'
      %li.left
        %a{:href => "mailto:rsm.thomas@gmail.com"} Email

  .sidebar
    %h1.title.right
      find me online
%hr/

