<h1>Welcome#index</h1>

<p>explore the site</p>
<%= link_to("home", welcome_index_path) %>
<%= link_to("about", about_index_path) %>
<%= link_to("contact", contact_index_path) %>
<p>find me on the web</p>
<%= link_to("instagram", "https://www.instagram.com/sleepingarmy") %>
<%= link_to("github", "https://github.com/sleepingarmy") %>