.center-align
  %div
    - flash.each do |key, value|
      %div
        %a{"data-dismiss" => "alert", :href => "#"} ×
        = value
  %h3 Contact Rosie Thomas
  = simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f|
    = f.input :name, :required => true
    = f.input :email, :required => true
    = f.input :message, :as => :text, :required => true
    .hidden
      = f.input :nickname, :hint => 'Leave this field blank!'
    %div
      = f.button :submit, 'Send message', :class=> "btn"