!!!
%html
  %head
  %title Rosie Thomas

  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags 

  / google fonts
  %link{:href => "https://fonts.googleapis.com/css?family=Raleway|Poiret+One|Vollkorn|Karla:400,700|Josefin+Slab:400,600", :rel => "stylesheet", :type => "text/css"}/

  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/


%body
  %div.container-fluid
    %header
      .navbar-fixed
        %nav
          .nav-wrapper
            %a.brand-logo.padding-left{:href => ""}
              ROSIE THOMAS
            %ul#nav-mobile.right.hide-on-med-and-down
              %li
                %a.material-icons{:href => "mailto:rsm.thomas@gmail.com"} email
                / = link_to 'rsm.thomas@gmail.com', mailto: 'rsm.thomas@gmail.com', target: '_blank'
              %li
                = link_to "Instagram", "https://www.instagram.com/sleepingarmy", target: '_blank'
              %li
                = link_to "Github", "https://github.com/sleepingarmy", target: '_blank'
              %li
                = link_to "Linkedin", "https://www.linkedin.com/in/rosiethom", target: '_blank'

= yield




