!!!
%html
  %head
  %title Rosie Thomas

  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags 

  / google fonts
  %link{href='http://fonts.googleapis.com/css?family=Poiret+One|Pacifico|Raleway:400,100,200,300,500,600,700' rel='stylesheet' type='text/css'}


%body
  %div.container-fluid
    %header
      %ul
        %li.center-align
          = link_to 'home', welcome_index_path
        %li.center-align
          = link_to 'about', about_index_path
        %li.center-align
          = link_to 'contact', contact_index_path

= yield




